.maincontainer {
    display: flex;
    flex-direction: column;
    min-height: 100vh;
}


.firstbox {
    background-color: #1f2937;
    display: flex;
    flex: 1;
}


.firstbox * {
    min-width: 50vh;
    flex: 1;
}


.firstbox.firstbox-two {
    display: flex;
    margin: 0 auto;
    flex-direction:row;
    flex: 1;
    justify-content: center;

}

.firstbox.firstbox-two p { 
    color: white;
    flex: 1;
}
.linkone {
    color: white;
    flex: 1;
}

.linktwo {
    color: white;
    flex: 1;
}

.linkthree {
    color: white;
    flex: 1;
    margin: 2px red;

}
.secondbox {
    background-color: #ffffff;
    flex: 1;
}

.thirdbox {
    background-color: #e5e7eb;
    flex: 1;
}

.fourthbox {
    background-color: #ffffff;
    flex: 1;

}

.fifthbox {
    background-color: #1f2937;
    flex: 1;

}

.firstbox img {
    height: 150px;
    width: 400px;
}